.card-slider {
  width: auto;
  margin: 0 auto;

  &__content {
    width: 100%;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 0.75rem;

    &--prev {
      border: none;
    }

    &--next {
      border: none;
    }
  }
}
