.form-field {
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  background: #f8f9ff;
  border: 1px solid #5e6488;
  border-radius: 8px;

  &__input {
    color: #03050f;
    font-size: 1rem;
    line-height: 24px;
    font-weight: 400;
    outline: none;
    border: none;
    background: transparent;
  }

  &__label {
    color: #5e6488;
    font-size: 0.75rem;
    font-weight: 400;
  }
}

.form-field-checkbox {
  background: transparent;
  display: flex;
  align-items: center;
  gap: 1rem;

  &__input {
    padding: 0.5rem;
  }

  input {
    &[type='checkbox'],
    &[type='radio'] {
      width: 20px;
      height: 20px;
      accent-color: #0a051e;
      cursor: pointer;
      border-radius: 4px;
    }
  }

  &__label {
    color: #0a051e;
    font-size: 0.75rem;
    font-weight: 400;
    cursor: pointer;
  }
}
