.insurance {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;

  &__content {
    max-width: 380px;

    p {
      font-size: 0.875rem;
      color: #444;
      font-weight: 600;
      line-height: 20px;
    }
  }

  &__header {
    width: 100%;
    margin-bottom: 1.5rem;
    display: flex;
    place-items: center end;
    justify-content: space-between;
    gap: 1rem;

    h1 {
      margin: 0.75rem 0;
      font-size: 1.75rem;
      line-height: 36px;
      font-weight: 700;
    }
  }

  &__description {
    border-top: 1px solid #ccd1ee;
    padding-top: 1rem;
    margin-bottom: 1rem;
  }

  &__badge {
    display: inline-block;
    background: linear-gradient(86.01deg, #00f4e2 0%, #00ff7f 100%);
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 0.9rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    a {
      margin-top: 0.5rem;
      color: #03050f;
      font-weight: 600;
      font-size: 0.75rem;
      text-decoration: underline;
    }

    &-btn {
      margin-top: 2rem;
    }

    .form-document {
      display: flex;
      width: 100%;
      border-radius: 8px;

      .form-field {
        &--special {
          border: 1px solid #5e6488;
          border-right: none;
          border-radius: 8px 0 0 8px;
        }

        &--custom {
          border: 1px solid #5e6488;
          border-radius: 0 8px 8px 0;
        }
      }
    }
  }

  &__image {
    display: block;

    img {
      max-width: 240px;
      width: 100%;
      object-fit: cover;
      border-radius: 1rem;
    }
  }

  &__image--desktop {
    display: none;
  }

  @media (width >= 768px) {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    &-content {
      flex: 1;
      max-width: 500px;
    }

    &__image {
      display: none;
    }

    &__image--desktop {
      display: block;

      img {
        max-width: 480px;
        width: 100%;
        object-fit: cover;
        border-radius: 1rem;
      }
    }

    &__description {
      border-top: none;
      padding: 0;
    }

    &__form {
      &-btn {
        margin-top: 2rem;

        button {
          width: 60%;
        }

        display: flex;
        justify-content: start;
      }
    }

    &__header {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.75rem;
      margin: 0;

      h1 {
        font-size: 2rem;
        line-height: 40px;
        font-weight: 700;
      }
    }
  }
}
