@font-face {
  font-family: BRSonoma;
  src: url('../assets/fonts/BRSonoma-Regular') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: BRSonoma;
  src: url('../assets/fonts/BRSonoma-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: BRSonoma;
  src: url('../assets/fonts/BRSonoma-SemiBold') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: BRSonoma;
  src: url('../assets/fonts/BRSonoma-Bold') format('woff2');
  font-weight: 700;
  font-style: normal;
}
